* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    background-image: url(https://lucieannabel.com/cdn/shop/files/LAN100002-Sweet-Meadow-in-Soft-Teal-on-Pastel-Pink_Thumbnail_WEB_1000x.jpg?v=1701275649);
    background-position: center center;
    background-size: repeat;
    display:flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}


.container {
    background-color:rgba(168, 118, 118, 0.3);
    width: 60%;
    margin: 50px;
    padding-bottom: 50px;
    display:flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

p {
    color: #000000;
    padding-bottom: 15px;
}

.text {
    margin-right: 50px;
}

.countdown {
    display: flex;
    align-items: center;
    justify-content: center;
}

.big-heading, .little-heading {
    text-align: center;
}

.time {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: scale(2);
    margin: 30px;
}


h1, h3 {
    margin: 50px;
    color: #A87676;
    border-bottom: solid 3px #A87676; 
    padding-bottom: 5px;
}

@media screen and (max-width: 500px) {
    h1 {
        font-size: 45px;
    }
    .time {
        margin: 20px;
    }
    .time h2 {
        font-size: 12px;
    }
    .time small {
        font-size: 10px;
    }
  }

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 20px;
    
}

.img {
    margin-left: 50px;
    display: block;
    background-image:url(img/2.jpg);
    background-size: contain;
    background-position: center;
    width: 100%;
    border-radius: 10px;
    
}


.text {
    background-color: rgba(255, 255, 255);
    padding: 10px;
    border-radius: 10px;

}
