* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.countdown {
    display: flex;
    align-items: center;
    justify-content: center;
}

.big-heading {
    text-align: center;

}

.little-heading {
    text-align:center;
}

.time {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: scale(2);
    margin: 30px;
}

h1, h3 {
    margin: 80px !important;
}

@media screen and (max-width: 500px) {
    h1 {
        font-size: 45px;
    }
    .time {
        margin: 20px;
    }
    .time h2 {
        font-size: 12px;
    }
    .time small {
        font-size: 10px;
    }
  }